.DateRangePickerInput {
  z-index: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: transparent;

  &_arrow {
    display: none;
  }

  .DateInput {
    display: none;
  }
}

.DateRangePicker {
  z-index: 400;
  .DateRangePickerInput button {
    display: none;
  }

  &_picker {
    width: 458px;
    border-radius: 30px;

    .DayPicker {
      width: 100% !important;
      margin: 0 !important;
      padding: 33px 0 10px;
      border-radius: 30px;

      > div {
        > div {
          margin: 0 auto;

          .CalendarMonthGrid {
            display: flex;

            .CalendarMonth_caption {
              padding-top: 8px;
              padding-bottom: 49px;
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
      .DayPickerNavigation {
        display: flex;
        justify-content: space-between;
        &_button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
        }
      }

      &_weekHeader {
        top: 50px;
      }
      .CalendarDay {
        z-index: inherit;
        border: none;
        line-height: 42px;
        font-size: 14px;
        font-weight: 600;
        &__default {
          &:hover {
            background: rgb(34, 34, 34);
            color: rgb(247, 247, 247);
            border-radius: 50%;
          }
        }

        &__selected {
          &:hover {
            background: rgb(34, 34, 34);
            border-radius: 50%;
          }

          &_start,
          &_end {
            background: rgb(34, 34, 34);
            border-radius: 50%;
          }
          &_span {
            background: rgb(247, 247, 247);
            color: black;
            &:hover {
              background: rgb(34, 34, 34);
              color: rgb(247, 247, 247);
              border-radius: 50%;
            }
          }
        }
        &__hovered {
          &_span {
            background: rgb(247, 247, 247);
            color: black;
            &:hover {
              background: rgb(34, 34, 34);
              color: rgb(247, 247, 247);
              border-radius: 50%;
            }
          }
        }
        &__blocked_out_of_range {
          text-decoration: line-through;
          &:hover {
            background: #fff;
            color: #cacccd;
          }
        }
      }
    }
  }
}
