.slickImg {
  max-height: 500px;
}

.slick-prev::before, .slick-next::before{
  font-size: 35px;
  color: white;
}

.slick-prev::before {
  position: relative;
  left: 35px;
}

.slick-next::before {
  position: relative;
  left: -50px;
}